/EE/EApp156190JJSA/NewsApp-ejb/build/
/EE/EApp156190JJSA/NewsApp-ejb/dist/
/EE/EApp156190JJSA/NewsApp-ejb/nbproject/private/
/EE/EApp156190JJSA/NewsApp-war/build/
/EE/EApp156190JJSA/NewsApp-war/dist/
/EE/EApp156190JJSA/NewsApp-war/nbproject/private/
/EE/EApp156190JJSA/build/
/EE/EApp156190JJSA/dist/
/EE/EApp156190JJSA/nbproject/private/
/EE/tstServices/build/
/EE/tstServices/nbproject/private/
/TutorialBPEL_AT/MensajeriaExpress/build/
/TutorialBPEL_AT/MensajeriaExpress/dist/
/TutorialBPEL_AT/MensajeriaExpress/nbproject/private/
/TutorialBPEL_AT/PagoOnline/build/
/TutorialBPEL_AT/PagoOnline/dist/
/TutorialBPEL_AT/PagoOnline/nbproject/private/
/TutorialBPEL_AT/TiendaElectronica/build/
/TutorialBPEL_AT/TiendaElectronica/dist/
/TutorialBPEL_AT/TiendaElectronica/nbproject/private/
/TutorialBPEL_AT/tstTuLibroOnLine/build/
/TutorialBPEL_AT/tstTuLibroOnLine/dist/
/TutorialBPEL_AT/tstTuLibroOnLine/nbproject/private/